  /* #region  /**=========== POST =========== */

  .text-shadow{
    text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
  }
  
  .adjacent-post{
    & .arrow-btn{
      transition: width 300ms ease;
      width: 50px;
    }
    &:hover{
      & .arrow-btn{
        width: 60px;
      }
    }
  }
  
  .react-multi-carousel-list {
    & .arrow-btn{
      transition: width 300ms ease;
      width: 50px;
      &:hover{
        width: 60px;
      }
    }
    
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .card-background {
    background-color: #78D535;
  }
  
  @keyframes appear {
    from {
        margin-left: 350px;
        opacity: 0; 
      }
    to {
      margin-left: 0px;
      opacity: 1; 
    }
  }
  
  @keyframes hide-card-info {
    from {
        //margin-top: 0px;
        opacity: 1; 
      }
    to {
      //margin-top: 300px;
      opacity: 0; 
    }
  }
  
  //using transfrom: transalate as its designed to be more peformant that top left or margin etc
  
  @keyframes display-background {
    from {
        transform: translateY(-200px);
        opacity: 0; 
      }
    to {
      transform: translateY(0px);
      opacity: 1; 
    }
  }
  
  @keyframes display-background-info {
    from {
        transform: translateY(300px);
        opacity: 0; 
      }
    to {
      transform: translateY(0px);
      opacity: 1; 
    }
  }
  
  @keyframes hide-background-info {
    from {
        transform: translateY(0px);
        opacity: 1; 
      }
    to {
      transform: translateY(400px);
      opacity: 0; 
    }
  }
  
  
  .focused-animation-transition {
    animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  
  .animation-transition {
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    transition: all 600ms cubic-bezier(.71,-0.04,.33,1.34);
  }
  
  .featured-collection-widget {
    animation: appear 0.7s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
    will-change: opacity, margin-top;
  }
  
  .custom-animation-delay {
    animation-delay: var(--custom-delay);
  }
  
  .collection-card-info-hide {
    animation: hide-card-info 0.9s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity, margin-top;
  }
  
  .collection-background-show {
    animation: display-background 1.5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity, margin-top;
  }
  
  .collection-background-info-show {
    animation: display-background-info 1.5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity, margin-top;
    animation-delay: var(--custom-delay);
  }
  
  .collection-background-info-hide {
    animation: hide-background-info 0.5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity, margin-top;
    animation-delay: var(--custom-delay);
  }
  
  .bouncy-animation {
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
  }
  
  .collection-image {
    will-change: top, left, right, bottom, height, width, max-width, max-height;
  }
  
  .focused-info {
    transition: 1.2s;
  }
  
  .font-staatliches {
    font-family: 'Staatliches', cursive;
  }
  
  .font-poppins {
    font-family: 'Poppins', cursive;
  }
  
  .collection-filter {
    filter: blur(10px);
  }
  
  .blur-filter {
    filter: blur(10px);
    transition: 500ms; 
  }
  
  .trans-500 {
    transition: 500ms;
  }
  
  .trans-100 {
    transition: 100ms;
  }
  
  @keyframes display-menu-item {
    from {
        transform: translateX(-100px);
        opacity: 0; 
      }
    to {
      transform: translateX(0px);
      opacity: 1; 
    }
  }
  
  @keyframes hide-menu-item {
    from {
        transform: translateX(0px);
        opacity: 1; 
      }
    to {
      transform: translateX(-100px);
      opacity: 0; 
    }
  }
  
  .menu-item-show {
    animation: display-menu-item .3s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity;
    animation-delay: var(--custom-delay);
  }
  
  .menu-item-hide {
    animation: hide-menu-item .3s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity;
    animation-delay: var(--custom-delay);
  }
  
  //search results
  @keyframes display-search-result {
    from {
        transform: translateY(50px);
        opacity: 0; 
      }
    to {
      transform: translateY(0px);
      opacity: 1; 
    }
  }
  
  .search-result-show {
    animation: display-background-info 0.5s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.71,-0.04,.33,1.34);
    will-change: opacity, margin-top;
    animation-delay: var(--custom-delay);
  }
  
  .image-blur {
    //this is a solution to having low-res images while still not looking pixelated 
    filter: blur(5px);
  }
  
  .no-blur {
    filter: blur(0px); 
  }
  
  //mobile view height
  .mobile-100vh {
    
    height: calc(100vh - calc(100vh - 100%));
  }
  
  .mobile-min-100vh {
   
    @media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
      min-height: calc(100vh - calc(100vh - 100%));
    }
  
    @media only screen and (min-device-width: 768px) {
      min-height: 100vh;
    }
    
  }
  
  .mobile-max-100vh {
    max-height: calc(100vh - calc(100vh - 100%))
  }
  
  
  //svg animations
  .icons {
    
    .line {
      stroke: #78D535;
    }
  }
  
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 600ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
    //stroke:white;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .ham2 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham2.active .top {
    stroke-dashoffset: -102px;
  }
  .ham2.active .bottom {
    stroke-dashoffset: -102px;
  }
  .ham3 .top {
    stroke-dasharray: 40 130;
  }
  .ham3 .middle {
    stroke-dasharray: 40 140;
  }
  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }
  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }
  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }
  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .ham5 .top {
    stroke-dasharray: 40 82;
  }
  .ham5 .bottom {
    stroke-dasharray: 40 82;
  }
  .ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
  .ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
  .ham7 .top {
    stroke-dasharray: 40 82;
  }
  .ham7 .middle {
    stroke-dasharray: 40 111;
  }
  .ham7 .bottom {
    stroke-dasharray: 40 161;
  }
  .ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
  }
  .ham7.active .middle {
    stroke-dashoffset: 23px;
  }
  .ham7.active .bottom {
    stroke-dashoffset: -83px;
  }
  .ham8 .top {
    stroke-dasharray: 40 160;
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  .ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }